* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100vh;

    background-color: rgb(18, 17, 17);
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column ;
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: white;
    
}

/* header*/
header{
    background-color: rgb(13, 12, 12);
    padding: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;

}
header nav{
    margin-right: 1.5em;
    font-size: 1.5em;
}
header h1, a{
    color: rgb(245, 115, 15);
    transition:0.2s ease-in-out;
}
header h1:hover, a:hover{
    color: rgb(248, 32, 118);
}

main{
    padding: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .main-content{
    display: flex;
    flex-direction: column;
}

main .main-content h2{
    margin-bottom: 2%;
    font-size: 2.2em;
}
main .main-content .text {
    margin-bottom: 10%;
}
main .main-content .text p{
    width: 75%;
    font-size: 1.2em;
    font-weight: 300;
}
/*cards*/
main .techs .cards-container{
    display: flex;
    align-items: center;
}
main .techs .cards-container .card{
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: rgb(227, 227, 227);
    border-radius: 8px;
    margin-right: 1.8em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s ease-in-out;
    
}

main .techs .cards-container .card img{
    width: 100%;
}

main .techs .cards-container .card:hover {
    box-shadow: 0px 0px 8px  rgb(248, 32, 118);; 
        
}
/*foto*/ 
main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main figure img{
    width: 400px;
    height: 400px;
    border-radius: 200px;

    margin-bottom: 6%;
    border: 1px  rgb(245, 115, 15) solid;
    transition: 0.2s ease-in-out;
           
}
main figure img:hover{
    box-shadow: 0px 0px 10px  rgb(248, 32, 118);; 
           
}